* {
    margin: 0;
    padding: 0;
}

header{
    background-color: #526864;
    color: white;
    text-align: center;
    padding: 3%;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* background-color: yellow; */
    margin: auto;
    padding-;
}

.block {  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
    width: 40%;
    height: 400px;
    margin: auto;
    border-style: solid;
    border-color:  #83A69F;
}

#one {
    margin-top: 2%;
    margin-bottom: 2%;
}

#two {
    margin-top: 2%;
    margin-bottom: 2%;
}

#three {
    margin-top: 2%;
    margin-bottom: 2%;

}

#four {
    margin-top: 2%;
    margin-bottom: 2%;
}

#five {
    margin-top: 2%;
    margin-bottom: 2%;

}

#six {
    margin-top: 2%;
    margin-bottom: 2%;
}

p {
    display: block;
    padding-left: 1.5%;
}

a{
    display: flex;
    justify-content: space-around;
}

h4 {
    padding: 2%;
    border-style: solid;
    border-color: #83A69F;
    display: flex;
    justify-content: space-around;
    width: 25%;
    background-color: #83A69F;
    color: white;
}

footer {
    position: relative;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #526864;
   color: white;
   text-align: center;
   padding: 1%;
}